@model PropertySearchModel

@{
    ViewBag.Title = "ListProperties";
}

<partial name="_SearchMenu" for="SearchMenuModel"/>

<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        @foreach (var property in Model.Properties)
        {
            <partial name="_CardLayout" for="@property" />
        }
    </div>
</div>