@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form asp-controller="PropertyManagement" asp-action="RegisterProperty" method="post">
    <div class="form-group">
        <label for="name">Property Name: </label>
        <input type="text" id="name" name="Name" class="form-control" required>

        <label for="blurb">Blurb: </label>
        <input type="text" id="blurb" name="Blurb" class="form-control" required>

        <label for="location">Location: </label>
        <input type="text" id="location" name="Location" class="form-control" required>

        <label for="numberOfBedrooms">Number of Bedrooms: </label>
        <input type="text" id="numberOfBedrooms" name="NumberOfBedrooms" class="form-control" required>

        <label for="costPerNight">Cost per Night: </label>
        <input type="text" id="costPerNight" name="CostPerNight" class="form-control" required>

        <label for="name">Property Name: </label>
        <input type="text" id="name" name="Name" class="form-control" required>

        <label for="description">Description: </label>
        <input type="text" id="description" name="Description" class="form-control" required>

        <label for="name">Property Name: </label>
        <input type="text" id="name" name="Name" class="form-control" required>

        <label for="name">Property Name: </label>
        <input type="text" id="name" name="Name" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Register Property</button>
</form>